
	
	
		
		<section class="container_fluid map">
			
		  <map center="13.002988,80.211701" zoom="15">
		  	<marker id="naanalmap" position="13.002988,80.211701" title="Naanal Technologies"></marker>
		  <info-window visible-on-marker="naanalmap">
		      <span>Naanal Technologies</span>
		    </info-window>
		  </map>

		</section>
		<div class="row container">

			<div class="col-xs-12 col-sm-6 aboutus">
				<h2 class="center">About Us</h2>
				<p>Naanal’s goal is to make it as easy as possible to deploy and manage applications, platforms and infrastructure for any business needs. Naanal is pioneering a simplified, modular, service-based IT deployment process, where fully configured components of an application/platform/infrastructure architecture are encapsulated as “Stack” and made available as a service. As a result, Application, Platform, Infrastructure  deployment, and management for the enterprise is now a seamless process. </p>
			</div>
			<div class="col-xs-12 col-sm-6 address">
				<h2 class="center">Address</h2>
				<p><i class="fa fa-map-marker"></i> 
				No-9, II floor, <br/>
				Five Furlong Rd, Narasinga Colony,<br/>
				Maduvinkarai, Guindy,<br/>
				Chennai,Tamil Nadu-600 042.<br/>
				India
				</p>
			</div>
		</div>
  