<div class="container">
	<!-- <img class="img-responsive hiring" width="100" src="assets/img/company/hiring.jpg"/> -->
	<h2 class="titlecenter">OPEN POSITIONS</h2>
	

	<div class="position">

		<h3>Position: Software Engineer</h3>
		<h3>Role</h3>
<ul>
		<li>Understanding the requirement and design/develop sustainable and agile application architecture.</li>
		<li>Conceptualizing, designing and prototyping new features for our core product</li>
		<li>Collaborate with other teams to understand requirement and develop creative solutions.</li>
		<li>Manage complex projects with minimal need for supervision or assistance</li>
</ul>
		<h3>Requirements</h3>

		<ul>
			<li>BE/BTech/MCA in Computer Science or related field or equivalent practical experience.</li>
			<li>Have experience in any object oriented language like Python, Java.</li>
			<li>Having experience in MVC frameworks Django or Angular JS is a plus.</li>
			<li>Strong Analytical thinking and Ability to ramp up on new skills.</li>

		</ul>

		<h3>Experience : </h3>
		<p> 0-1 year </p>

		<h3>Location : </h3>
		<p> Chennai</p>

		<p>Send your resume to <strong>info@naanal.in</strong> we will contact you soon. </p>
	</div>
</div>