/* Styles go here */
@font-face {
    font-family: 'MuseoSans-300';
    src: url(../fonts/Museo/MuseoSans/MuseoSans-300.otf);
}



body { 
    font-family: MuseoSans-300, Helvetica, Arial, sans-serif;
    font-size: 16px; 
    color: black;
    background-color: #FFFFFF; 
    line-height: 1.7em;
    font-weight: 500; 
    -webkit-font-smoothing: antialiased; 
    -moz-osx-font-smoothing: grayscale; 
    height: 100%;

}
.Naanal-wrapper
{
  position: relative;
}
/** header styles **/


/** navigation color **/
.navbar-default { 
  background-color: #012a47;
  border-color: #012a47;
}
.navbar-default .navbar-brand {
  color: #ffffff;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  color: #ffffff;
}
.navbar-default .navbar-text {
  color: #e2e1e1;
}
.navbar-default .navbar-nav > li > a {
  color: #e2e1e1;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
color: #ffffff;
}
.navbar-default .navbar-nav > li > .dropdown-menu {
background-color: #012a47;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a {
color: #e2e1e1;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:focus {
color: #ffffff;
background-color: #01375e;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > .divider {
background-color: #012a47;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
color: #ffffff;
background-color: #01375e;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
color: #ffffff;
background-color: #01375e;
}
.navbar-default .navbar-toggle {
border-color: #012a47;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
background-color: #01375e;
}
.navbar-default .navbar-toggle .icon-bar {
background-color: #e2e1e1;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
border-color: #e2e1e1;
}
.navbar-default .navbar-link {
color: #e2e1e1;
}
.navbar-default .navbar-link:hover {
color: #ffffff;
}

@media (max-width: 767px) {
.navbar-default .navbar-nav .open .dropdown-menu > li > a {
color: #e2e1e1;
}
.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
color: #ffffff;
}
.navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
color: #ffffff;
background-color: #01375e;
}
}



/** end of navigation color **/

.nav>li {
    padding: 5px;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li 
{
  padding: 8px;
}
.navbar-nav>li>.dropdown-menu {
    margin-top: -8px; 
    margin-left: 5px;
}
.pbm{Justify}
.navbar-brand {
  font-size:2em;
}
@media (min-width: 768px){
  .navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
      margin-left: 55px;
  }
}

/* .navbar-nav
{
  margin-right: 50px; 
} */
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.open>a {
  background-image: none;
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #02a6d8;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}

@media (min-width: 770px){
  .navbar
  {
    height: 70px;
  }
}

.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
 }

.logo
{
  display: inline;
}
.navbar-brand>img {
     display: inline; 
}

.topmenu
{
  height:30px;
  background-color: #73ADDE;
  padding: 0 1%;
  color: white;
  z-index: 50;
}
.topmenu a
{
  color: white;
  padding: 0 1%;
}

/** End of header**/

/** Footer**/
footer
{
    background-color:#012946;
   color: white;
   width: 100%;
   padding: 1%;
   bottom:0;
}
.finalone
{
  text-align: center;
 
}
.footernav
{
  list-style: none;
  padding: 0;
  text-align: left;
}
.footernavtitle
{
  text-align: left;
}
.footernav a
{
  text-decoration: none;
  color: white;
}

/** End of footer **/

/** Common**/

.grey
{
  background-color: #F3F3F4;
}
.white
{
  background-color: #FAFAFA;
}

main
{
  padding-top: 5%;
}
/** HOME PAGE STYLES **/


/** Intro Sliders **/

.into-wrapper
{
    padding: 5% 3% 3% 3%;
}
@media (max-width: 770px){
.into-wrapper
{
    padding: 8% 3% 3% 3%;
}
}
.sliderdesc
{
  text-indent: 50px;
}

.titleo, .titled, .titlei, .titlev, .titleb
{
  font-size: 3em;
}
.titleo
{
 color: #012A47;
}
.titled
{
  color: #012A47;
}
.titlei
{
  color: #012A47;
}
.titlev
{
  color: #012A47;
}
.titleb
{
  color: #012A47;
}

.animation
{
    -webkit-animation-duration: 3s;
    -webkit-animation-delay: 5s;
   -webkit-animation-iteration-count: infinite;
    -moz-animation-duration: 3s;
    -moz-animation-delay: 5s;
    -moz-animation-iteration-count: infinite;
}


/** problem wrapper **/
.problem
{
  padding: 3%;
}
.prob
{
  padding-top: 6%;
  text-align: justify;
}
.hand
{
  font-size: 1.5em;
  padding-right: 2%;
}
.titlecenter
{
  text-align: center;
  padding: 2%;
  color:#004C6A;
}
.agilet
{
  padding: 3% 0;
}
.problemanalogytextwrap
{
  padding-top: 3%;
}
.problemanalogytext
{
  text-align: justify;
}
.solutionpara
{
  text-align: justify;
}
.solutionanalogy
{
  padding: 5% 0px;
}
.imgcenter
{
  display:block;
    margin:auto;
}
/**APP Stacks **/
.centerimg
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:80%;
    padding-top: 1%;
}
.catalogue
{
  text-align: center;
  padding: 3% 2%;
  background-color: #012946;
}
.whitetext{
  color:white;
}
.greytext
{
  color:#DEDEE0;
}

.cat_li
{
  padding: 5% 0;
}
.cat_li:before
{
    content: "\f00c";
    font-family: "FontAwesome";
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    color: #012A47;
    font-size: 24px;
    padding-right: 2%;
  
}
.cat_ul
{
   list-style: none;
}
.cataloguebrief
{
  text-align: center;
  padding: 3%;

}
.cat_beni
{
  text-align: left;
}

.blockdesc
{
  padding: 4%;
  text-align: center;
}

/** Product Catalogue **/

@media (max-width: 767px) {

  .viewonmobile
  {
    display: block;
  }
  .viewonpc
  {
    display: none;
  }

}

@media (min-width: 768px) {

  .viewonmobile
  {
    display: none;
  }
  .viewonpc
  {
    display: block;
  }
}



.cataloguebrief.platform
{

  padding-bottom: 10%;
}
.platform-circle-wrapper
{
  position: relative;
}
.center-naanal
{
  position: absolute;
  left: 40%;
  top: 50%;
 /* transform: translateX(-40%);*/
}
.circle-container {
  position: relative;
  /* [1] */
  width: 30em;
  height: 30em;
  padding: 0;
  border-radius: 50%;
  list-style: none;
  /* [2] */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  /* [3] */
  margin: 5em auto 0;
  /*border: solid 5px tomato;*/
}
.circle-container > * {
  /* [4] */
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 8em;
  height: 8em;
  margin: -3em;
}
.circle-container > *:nth-of-type(1) {
  -moz-transform: rotate(0deg) translate(15em) rotate(-0deg);
  -ms-transform: rotate(0deg) translate(15em) rotate(-0deg);
  -webkit-transform: rotate(0deg) translate(15em) rotate(-0deg);
  transform: rotate(0deg) translate(15em) rotate(-0deg);
}
.circle-container > *:nth-of-type(2) {
  -moz-transform: rotate(60deg) translate(15em) rotate(-60deg);
  -ms-transform: rotate(60deg) translate(15em) rotate(-60deg);
  -webkit-transform: rotate(60deg) translate(15em) rotate(-60deg);
  transform: rotate(60deg) translate(15em) rotate(-60deg);
}
.circle-container > *:nth-of-type(3) {
  -moz-transform: rotate(120deg) translate(15em) rotate(-120deg);
  -ms-transform: rotate(120deg) translate(15em) rotate(-120deg);
  -webkit-transform: rotate(120deg) translate(15em) rotate(-120deg);
  transform: rotate(120deg) translate(15em) rotate(-120deg);
}
.circle-container > *:nth-of-type(4) {
  -moz-transform: rotate(180deg) translate(15em) rotate(-180deg);
  -ms-transform: rotate(180deg) translate(15em) rotate(-180deg);
  -webkit-transform: rotate(180deg) translate(15em) rotate(-180deg);
  transform: rotate(180deg) translate(15em) rotate(-180deg);
}
.circle-container > *:nth-of-type(5) {
  -moz-transform: rotate(240deg) translate(15em) rotate(-240deg);
  -ms-transform: rotate(240deg) translate(15em) rotate(-240deg);
  -webkit-transform: rotate(240deg) translate(15em) rotate(-240deg);
  transform: rotate(240deg) translate(15em) rotate(-240deg);
}
.circle-container > *:nth-of-type(6) {
  -moz-transform: rotate(300deg) translate(15em) rotate(-300deg);
  -ms-transform: rotate(300deg) translate(15em) rotate(-300deg);
  -webkit-transform: rotate(300deg) translate(15em) rotate(-300deg);
  transform: rotate(300deg) translate(15em) rotate(-300deg);
}
.circle-container a {
  display: block;
 /* border-radius: 50%;
  box-shadow: 0 0 0 5px tomato;*/
}
.circle-container img {
  display: block;
  width: 100%;
  border-radius: 50%;
 
}


.plat_title {
    font-size: 1em;
    font-weight: bold;
    margin-top: 6px;
    /* padding-left: 12%; */
}



.etitle
{
  color:#f54a7e;
  font-size: 50px;
  padding: 3% 0;
}
.edesc
{
  color: #000000;
  font-weight: 400;
  font-size: 18px;
  padding-bottom: 3%;
}

/** Benifits**/

#NaanalBenefits
{
	background-color: #012A47;
	padding: 5% 0;
	color: white;
}

.titles-wrap-white, .desc-white
{
	text-align: center;
}
.nanalbt
{
  padding: 2% 0;
}
.desc-white
{
	font-size: 20px;
	padding:5%;
}
li.na-benifits {
    display: block;
    background:#011e32;
    min-height: 60px;
	padding: 10px 15px;
	margin:2%;
}

.beni-img {
    
    float: left;
    clear: both;
    width: 45px;
}
.bimg
{
  padding: 0 5px 0 5px;
}
.beni-text
{
	font-size:18px;
	font-weight: 400;
}


/** Testimonial **/
.testimonial-wrap
{
  
  text-align: center;
  color: black;
  padding: 3%;
}

.testimonial-col
{
  color:#8C909E;
  padding:8% 10% 2% 10%;
}
.stars
{
   display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 3%;
}
.who
{
  color: black;
}


/** Testimonial **/




/**** SOLUTIONS STYLES STARTS HERE **/
.solution_banner
{
  min-height: 40px;
  text-align: center;
  background-color: #73ADDE;
  font-weight: bold;
  color: white;
  padding: 2%;
}
.solution_banner > h2
{
  font-weight: bold;
}
.sol_title
{
  padding:2% 0 2% 0;
  color:#012A47;
  font-weight: bold;
  text-align: justify;
}
.solution_content
{
  padding: 5% 3% 6% 3%;
}
.sol_content > p
{
  text-align: justify;
}
.text_highlight
{
  border-left: 5px solid #73ADDE;
  margin: 2% 0 2% 0;
  padding-left: 2%;
  font-weight: bold;
  text-align: justify;

}
.sol_image
{
  padding: 2% 0 2% 0;
}


.sol_feature_title
{
  color:#012A47;
  font-weight: bold;
  text-align: justify;
}
.sol_features
{
  list-style-type: none;
  margin: 0;
  padding: 5%;
}
.sol_feature
{
   
    background: url('../img/icons/tick.png') no-repeat  left top;
    padding: 2% 0 3% 15%;
    text-align: justify;

}
.rightpane
{
  padding: 1% 1% 5% 4%;
}
.demo_title, .demo_head
{
   color:#012A47;
}


.slick-prev:before, .slick-next:before { 
  font-family: FontAwesome;
  font-size: 30px; 
  line-height: 1;
  color: black;
  opacity: 0.75;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}   

.slick-prev:before { content: "\f053"; }
[dir="rtl"] .slick-prev:before { content: "\f054"; }

[dir="rtl"] .slick-next { left: -10px; top: 70px; right: auto; }
.slick-next:before { content: "\f054"; }
[dir="rtl"] .slick-next:before { content: "\f053"; }
.aboutus, .address
{
  padding: 3% 5%;
}
.map
{
  padding-top: 10px;
}

.position
{
  padding: 3% 15%;
}

/*.hiring
{
  top: 130px;
  left: 350px;
  position: absolute;
  margin:auto;
}*/

/** Demo Page Styles **/

.demotitle {
  text-align: center;
}

.pagecontainer {
  padding: 5%;
 
}

.democontainer {
  padding: 1%;
}

.demopanel {
  width: 280px;
  height: 230px;
}

.fancybox-nav {
  width: 3% !important;
}

h2.strike-title {
  font-size: 33px;
  margin-top: 40px;
  margin-bottom: 30px;
  text-align: center;
  display: table;
  white-space: nowrap;
}

h2.strike-title:before,
h2.strike-title:after {
  border-top: 2px solid #F2F2F2;
  content: '';
  display: table-cell;
  position: relative;
  top: 0.5em;
  width: 45%;
}

h2.strike-title:before {
  right: 0%;
}

h2.strike-title:after {
  left: 0%;
}