

		
		<section class="container solution_content">
			<section class="container_fluid solution_banner">
		  <h2>Applications</h2>
		</section>
			<div class="row">
				<div class="col-sm-8 col-xs-12 leftpane">
					<h2 class="sol_title">
						Towards Self-service push-button-style app deployment.
					</h2>
					<div class="text_highlight">
						Your business has many challenges that the IT organisation is tasked to resolve. Nowadays, the business demands speedier services, lower costs, increased reliability, greater flexibility and elastic scalability.

					</div>
					<div class="sol_image">
						<img class="img-responsive" src="assets/img/slider/businessapp.jpg" title="High Performance Cluster"/>
					</div>
					<div class="sol_content">
						<p>The problem though is that these requests all conflict with the things that traditionally the IT organisation is tasked with delivering; security and compliance; management oversight, service allocation and budgeting, access management, control, monitoring and governance.</p>

						<p>Put simply, your business and application development teams want to exploit the ‘promise’ of cloud enabled services and become an agile, empowered enterprise by acquiring IT services simply and instantly themselves – without getting your IT organisation involved for every task – by ‘browsing’ through a catalogue of business ready services. But the IT team knows it must remain in control of the infrastructure, services and information systems that are used.

</p>
<p>
Developers and IT users want to simply use applications as opposed to installing and managing them. IT administrators want to offer a well-tested set of on-demand self-service applications to dramatically reduce their support burden. Naanal offers Application catalogues that solves this problem.  It enables IT administrators to publish cloud-ready applications in an online catalog. Developers and IT users can use the catalog to deploy these on-demand applications, reliably and consistently, with a click of a button. Applications can be arbitrarily complex: from individual  KVM-based VMs to multi-node Linux and Windows distributed applications with many dependent applications and services. Accessible via a GUI and an API, Murano also manages the application lifecycle.

</p>
			<h4>Some of the App categories includes the following:</h4>
						<ul class="points">
							<li>Business Apps such as ERP, CRM</li>
							<li>Analytics Apps such as Tableau
</li>
							<li>Business Intelligence Apps
</li>
							<li>Developer tools such as Jenkin</li>
							<li>E-Learning Apps such as Moodle
</li>
						</ul>			

					
					</div>
				</div>
				<div class="col-sm-4 col-xs-12 rightpane">
					<div class="sol_features_wrapper">
						<h3 class="sol_feature_title">Naanal offers following benefits for App deployment:
</h3>
						<ul class="sol_features">
							<li class="sol_feature">Leverage built-in App health monitoring to ensure high availability

</li>
							<li class="sol_feature">Language, OS &amp; platform agnostic

</li>
							<li class="sol_feature">Maintenance and management tools
</li>
<li class="sol_feature">Support single or multi-tier applications

</li>
<li class="sol_feature">Leverage auto-scaling feature to handle spikes</li>
						</ul>
					</div>

					<hr/>

					<div class="demos">
						<h3 class="demo_head">Check Out These Resources:</h3>
						
						<h3 class="demo_title"> 
						<i class="fa fa-youtube-play"></i>  Demo</h3>

						<slick  dots=true slides-to-show="2" slides-to-scroll="2" autoplay="true" autoplay-speed="8000">
							<div>
								<a class="demo" href="https://www.youtube.com/watch?v=RVIapm6wPD4">
									<img class="img-responsive" width="150" src="http://img.youtube.com/vi/RVIapm6wPD4/0.jpg"/>
								</a>

							</div>
							
						</slick>
					</div>
					
				</div>
			</div>
		</section>

    