
		
		<section class="container solution_content">
			<section class="container_fluid solution_banner">
		  <h2>Application Developement &amp; Test</h2>
		</section>
			<div class="row">
				<div class="col-sm-8 col-xs-12 leftpane">
					<h2 class="sol_title">
						Creating a "DevOps" Centric IT Culture and Infrastructure.
					</h2>
					<div class="text_highlight">
						New application development paradigms create a significant challenge for IT:  How does IT provide support for new infrastructure requirements without impacting legacy workloads?
					</div>
					<div class="sol_image">
						<img height="400" class="imgcenter" src="assets/img/slider/DevOps.png" title="App Dev and Test"/>
					</div>
					<div class="sol_content">
						<p>The DevOps paradigm is designed to create an agile, highly responsive environment for <strong> application development, testing, deployment and operations. </strong>  This "brave new world" moves traditional IT and application developers closer together, creating significant opportunity for organizations to focus on creating a competitive advantage.</p>

						<p>In a DevOps environment, application developers focus on the code they write.  A single application can be created and wrapped in a container such as Docker and rapidly deployed throughout the infrastructure, <strong> scaling to thousands of instances.</strong>  Orchestration tools communicate with the infrastructure assigning compute, storage and networking resources as needed.  The primary motivator for the developers is the performance and scalability of the application that they wrote.</p>

						<p><strong>This approach is very different from the traditional IT view. </strong> Traditionally, IT has been primarily concerned with the utilization of individual resources or silos.  Server virtualization has been leveraged to improve server utilization by running multiple virtual environments on a single server platform.  Separate storage solutions deliver the data needed; and separate network technologies are used to connect everything together.  While this approach has been somewhat effective in the past, the world of DevOps requires a much more agile, elastic and hyper-converged approach to the infrastructure.</p>

						<h4>In a DevOps environment:</h4>
						<ul class="points">
							<li>Infrastructure must instantly be able to handle any type of workload (virtualized or container-based).</li>
							<li>Provisioning of infrastructure must be automatic and happen in 1-2 seconds, as compared to today's manual processes involving days or even weeks.</li>
							<li>Resource utilization must be monitored in real time with balancing taking place in a sub-second manner.</li>
						</ul>

						<p>Naanal has developed a template based software solution which delivers all of the requirements of a DevOps infrastructure environment.  </p>
					</div>
				</div>
				<div class="col-sm-4 col-xs-12 rightpane">
					<div class="sol_features_wrapper">
						<h3 class="sol_feature_title">Naanal  facilitates an entirely new, holistic approach to DevOps, with:</h3>
						<ul class="sol_features">
							<li class="sol_feature">A single infrastructure, supporting virtualized and container-based workloads</li>
							<li class="sol_feature">Developer-friendly APIs, creating responsive and highly-scalable infrastructure resource management capabilities</li>
							<li class="sol_feature">A solution that bridges today’s IT-centric environment with a next-generation DevOps-centric approach, creating a single infrastructure layer with no compromises</li>
						</ul>
					</div>

					<hr/>

					<div class="demos">
						<h3 class="demo_head">Check Out These Resources:</h3>
						
						<h3 class="demo_title"> 
						<i class="fa fa-youtube-play"></i>  Demo</h3>

						<slick  dots=true slides-to-show="2" slides-to-scroll="2" autoplay="true" autoplaySpeed="5000">
							
							<div>
								<a class="demo" rel="fancybox-thumb" href="https://www.youtube.com/watch?v=NVW_q_gd284">
									<img class="img-responsive" width="150" src="http://img.youtube.com/vi/NVW_q_gd284/0.jpg"/>
								</a>
								
							</div>

						</slick>
					</div>
					
				</div>
			</div>
		</section>
