

		
		<section class="container solution_content">
			<section class="container_fluid solution_banner">
		  <h2>High Performance Cluster</h2>
		</section>
			<div class="row">
				<div class="col-sm-8 col-xs-12 leftpane">
					<h2 class="sol_title">
						Bring the agile, self-service nature of cloud to HPC.
					</h2>
					<div class="text_highlight">
						High Performance Computing (HPC) allows scientists and engineers to solve complex science, engineering, and business problems using applications that require high bandwidth, enhanced networking, and very high compute capabilities. 

					</div>
					<div class="sol_image">
						<img class="img-responsive" src="assets/img/circle/hpcf.jpg" title="High Performance Cluster"/>
					</div>
					<div class="sol_content">
						<p>Applications and the skills to maintain them vary considerably between science teams. Fabrics that can adapt to application requirements simplify deployment scenarios. Service replication offers new avenues to grow capacity in scientific workflows.Traditional high performance computing (HPC) systems have had limited capabilities for adapting cluster environments to application requirements.</p>

						<p>Adding Naanal solution to an HPC architecture provides user access to cloud instances they can easily tune to mirror application requirements. Users can replicate app-specific instances giving them an easy path to scale work flows on larger data sets. Additionally, bare metal provisioning can simplify infrastructure management for HPC operators. Hardware fabrics for production HPC, custom applications, and development environments can be allocated through a common framework, providing migration paths from virtual to physical servers.
</p>

						

					
					</div>
				</div>
				<div class="col-sm-4 col-xs-12 rightpane">
					<div class="sol_features_wrapper">
						<h3 class="sol_feature_title">Naanal offers following benefits to R&amp;D needs:
</h3>
						<ul class="sol_features">
							<li class="sol_feature">Re-use the HPC cluster efficiently for different experiments
</li>
							<li class="sol_feature">Reduce recurring cost of hardware platform refresh.
</li>
							<li class="sol_feature">Provide single pane of glass management for the HPC clusters
</li>
<li class="sol_feature">Allow researchers access from anywhere so they do not have to physically be in a lab to work.

</li>
						</ul>
					</div>

					<hr/>

					<div class="demos">
						<h3 class="demo_head">Check Out These Resources:</h3>
						
						<h3 class="demo_title"> 
						<i class="fa fa-youtube-play"></i>  Demo</h3>

						<div class="demo_items">
							<div>
								<a class="demo" href="">
									<img class="img-responsive" width="150" src=""/>
								</a>

							</div>
							
						</div>
					</div>
					
				</div>
			</div>
		</section>

    