
		<section class="container solution_content">
			<section class="container_fluid solution_banner">
			  <h2>Virtual Computing Lab</h2>
			</section>
			<div class="row">
				<div class="col-sm-8 col-xs-12 leftpane">
					<h2 class="sol_title">
						Towards 24x7 highly available lab accessible from anywhere in the world
					</h2>
					<div class="text_highlight">
						New application development paradigms create a significant challenge for IT:  How does IT provide support for new infrastructure requirements without impacting legacy workloads?
					</div>
					<div class="sol_image">
						<img class="img-responsive imgcenter" src="assets/img/slider/vcl.png" title="App Dev and Test"/>
					</div>
					<div class="sol_content">
						<p>A key differentiating element of the information technologies (IT) of the 21st century that will be/is a success is their ability to become true and valuable contributors to cyber infrastructure. Cyber infrastructure makes [systems and] applications dramatically easier to [use,] develop and deploy, thus expanding the feasible scope of applications possible within budget and organizational constraints, and shifting the educator’s, scientist’s, engineer’s effort away from information technology and concentrating it on knowledge transfer, scientific and engineering research.</p>

						<p>Cyber infrastructure also increases efficiency, quality, and reliability by capturing commonalities among application needs, and facilitates the efficient sharing of equipment and services”, This is especially true of any technologies that should be used in large-scale educational systems, solutions and environments. Educational environments are especially diverse, dynamic, and demanding. Global competitiveness of our workforce dictates a huge range of options – from the state-of-the-art technologies and research software to mundane commodity solutions, from single desktop solution to distributed high- performance clusters and supercomputing solutions, from trivial software to very complex and sophisticated software, to “precarious” software produced in research environments, from a synchronized group of classroom or laboratory ‘seats” to a research or business multimode solution. </p>

						<p>From the perspective of end-users, information technology MUST be enabling and appliance-like. End-users should be able to use the technology to improve their productivity and reduce technology driven overhead (e.g., less than 20% of their effort should have to do with IT issues).
The IT overhead that the end- user sees, e.g., software installation or management issues, must be drastically reduced, while the overhead that underlying infrastructure installation and maintenance personnel sees must have the property of the economy-of-scale at all levels – hardware, software, provisioning, maintenance, etc.</p>

						
					</div>
				</div>
				<div class="col-sm-4 col-xs-12 rightpane">
					<div class="sol_features_wrapper">
						<h3 class="sol_feature_title">Naanal offers following benefits to educational institutions:</h3>
						<ul class="sol_features">
							<li class="sol_feature">Creates a multi institutional shared computing services community based upon the VCL model that will include universities, community colleges, high schools and business partners.
							</li>
							<li class="sol_feature">Reduce recurring cost of hardware platform refresh.</li>
							<li class="sol_feature">Provide flexibility in compute images and/or software versions.
</li>
<li class="sol_feature">Allow students access mobility so they do not have to physically be in a lab to work.
</li>
<li class="sol_feature">Increase lab efficiency for technical support, staffing hours and complexity of compute images.
</li>
						</ul>
					</div>

					<hr/>

					<div class="demos">
						<h3 class="demo_head">Check Out These Resources:</h3>
						
						<h3 class="demo_title"> 
						<i class="fa fa-youtube-play"></i>  Demo</h3>

						<div class="demo_items">
							<div>
								<a class="demo" href="">
									<img class="img-responsive" width="150" src=""/>
								</a>

							</div>
							
						</div>
					</div>
					
				</div>
			</div>
		</section>
