

		
		<section class="container solution_content">
			<section class="container_fluid solution_banner">
		  <h2>Virtual Desktop Infrastructure</h2>
		</section>
			<div class="row">
				<div class="col-sm-8 col-xs-12 leftpane">
					<h2 class="sol_title">
						Move towards Bring Your Own Device (BYOD) model.
					</h2>
					<div class="text_highlight">
						As the size of your enterprise increases, so does the scope of its technical and network needs. Something as seemingly simple as applying the latest OS hotfixes, or ensuring that virus definitions are up to date, can quickly turn into a tedious mess when the task must be performed on the hundreds or thousands of computers within your organization.

					</div>
					<div class="sol_image">
						<img class="img-responsive imgcenter" src="assets/img/slider/vd.png" title="Business Apps"/>
					</div>
					<div class="sol_content">
						<p>A virtual desktop infrastructure (VDI) environment allows your company’s information technology pros to centrally manage thin client machines, leading to a mutually beneficial experience for both end-users and IT admins.
</p>

						<p>Sometimes referred to as desktop virtualization, virtual desktop infrastructure or VDI is a computing model that adds a layer of virtualization between the server and the desktop PCs. By installing this virtualization in place of a more traditional operating system, network administrators can provide end users with ‘access anywhere’ capabilities and a familiar desktop experience, while simultaneously heightening data security throughout the organization.
</p>

						<p>VDI Provides Greater Security, Seamless User Experience Superior data security: Because VDI hosts the desktop image in the data center, organizations keep sensitive data safe in the corporate data center—not on the end-user’s machine which can be lost, stolen, or even destroyed. VDI effectively reduces the risks inherent in every aspect of the user environment.
.</p>

					<p>
					More productive end-users: With VDI, the end-user experience remains familiar. Their desktop looks just like their desktop and their thin client machine performs just like the desktop PC they’ve grown comfortable with and accustomed to. With virtual desktop infrastructure, there are no expensive training seminars to host and no increase in tech support issues or calls. End- user satisfaction is actually increased because they have greater control over the applications and settings that their work requires. Naanal helps businesses handle all aspects of the user environment, including VDI. 
					</p>
					</div>
				</div>
				<div class="col-sm-4 col-xs-12 rightpane">
					<div class="sol_features_wrapper">
						<h3 class="sol_feature_title">Naanal offers the following benefits:</h3>
						<ul class="sol_features">
							<li class="sol_feature">Desktops can be set up in minutes, not hours</li>
							<li class="sol_feature">Client PCs are more energy efficient and longer lasting than traditional desktop computers</li>
							<li class="sol_feature">IT costs are reduced due to a fewer tech support issues</li>
							<li class="sol_feature">Compatibility issues, especially with single-user software, are lessened</li>
							<li class="sol_feature">Data security is increased</li>
						</ul>
					</div>

					<hr/>

					<div class="demos">
						<h3 class="demo_head">Check Out These Resources:</h3>
						
						<h3 class="demo_title"> 
						<i class="fa fa-youtube-play"></i>  Demo</h3>

						<div class="demo_items">
							

							<div>
								<a class="demo" href="https://www.youtube.com/watch?v=cZ9-wmkN8ps">
									<img class="img-responsive" width="150" src="http://img.youtube.com/vi/cZ9-wmkN8ps/0.jpg"/>
								</a>
								
							</div>
						</div>
					</div>
					
				</div>
			</div>
		</section>

    